DB_HOST=localhost
DB_USER=root
DB_PASSWORD=mypassword
DB_NAME=testdb
DB_PORT=3306

NOTIFICATIONS_EMAIL=#smpt@mailer.etc If you leave this empty, no email will be sent but debug info will de console.logged...
NOTIFICATIONS_EMAIL_PASSWORD=foo

GOOGLE_CLIENT_ID=123
TOKEN_SECRET="some secret awesome string"

TWITTER_CONFIG=# JSON.stringifyed : https://github.com/ttezel/twit#var-t--new-twitconfig