node_modules 
notas.md
test.js
move-to-frontend/
server-to-upload/
useravatar
tests/
temp 
*.php
*.jpg
*.zip
*.db
test*
node-test
index.html 
#export-esm-to-cjs.cjs
*.log
DEPLOY.md
NOTAS.md
.htaccess
*.sql.gz  
*.tgz
server-?/
BUG-REPORTS.md 
editor-mode.js
server/firebase-adminsdk-credential.js
sbd-rank/data.csv
.env
docs/
